//Fonts
$graphicBold: 'Graphik-Bold', Arial, sans-serif;
$graphicBlack: 'Graphik-Black', Arial, sans-serif;
$graphicLight: 'Graphik-Light', Arial, sans-serif;
$graphicMedium: 'Graphik-Medium', Arial, sans-serif;
$graphicRegular: 'Graphik-Regular', Arial, sans-serif;
$graphicSemiBold: 'Graphik-Semibold', Arial, sans-serif;

//Colors
$eurekaBlack: #000;
$eurekaWhite: #FFF;
$eurekaGray: #4D4D55;
$eurekaGray2: #a5a5a4;
$eurekaGray3: #4D4D55;
$eurekaGray4: #EEEDEF;
$eurekaGray5: #131313;
$eurekaGray6: #A5A5A4;
$eurekaBeige: #D3D0C2;
$eurekaDarkGray: #514F3C;
$eurekaPrimaryBrown: #514F3C;
$eurekaPrimaryGreen: #BDD747;
$eurekaSecondaryGreen: #707F2A;
$eurekaSecondaryGray: #4C4C4A;

//Breakpoints
$screen-sm-min: 768px; //tablet
$screen-md-min: 1025px; //desktop
$screen-lg-min: 1200px; //widescreen
$screen-xlg-min: 1440px; //widescreen bigger
