/*
*   Product Tile
*/

$image-thumb-height: 130px;
$image-thumb-height-md: 130px;
$image-thumb-height-sm: 130px;

.product-tile {
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: $eurekaWhite;
    margin-right: 0;
    position: relative;
    transition: box-shadow 0.5s;
    outline: 0;
    flex: 1 0 auto;
    /*border: 1px solid black;*/

    > div {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-left: 18px;
        padding-right: 18px;

        .image-thumb {
            margin-bottom: 30px;
            width: auto;
            height: $image-thumb-height;
            /*border: 1px solid red;
            background-color: red;*/
            a{
                display: none;
                &:first-child {
                    display: block;
                }
            }
            img{
                margin: 0 auto;
                left: 0;
                right: 0;
                display: block;
                width: 100%;
                max-height: $image-thumb-height;
                object-fit: contain;
                /*border: 1px solid black;*/
            }
        }

        span {
            display: inline-block;
        }
        .label-header {
            font-family: $graphicBlack;
            font-size: 12px;
            color: $eurekaSecondaryGreen;
            background-color: transparent;
            margin-bottom: 8px;
            text-transform: uppercase;
            min-height: 18px;
            //@include ellipsis(1);
            /*border: 1px solid blue;*/
        }
        .title {
            font-family: $graphicSemiBold;
            font-size: 12px;
            color: $eurekaBlack;
            margin-bottom: 8px;
            width: 100%;
            //@include ellipsis(1);
            /*border: 1px solid green;*/
        }
        .price {
            font-family: $graphicRegular;
            font-size: 12px;
            color: $eurekaBlack;
            margin-bottom: 8px;
            /*border: 1px solid yellow;*/
        }
        .rating-stars {
            margin: 0 auto;
            margin-bottom: 8px;
            position: relative;
            top: 0px;
            opacity: 1;
            /*border: 1px solid grey;*/
        }

        .date {
            background: url("../img/icon-global-corner-tag-green.png") no-repeat;
            background-size: contain;
            width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            font-size: 0;
            &:after {
                background: url("../img/icon-global-exclamation-mark-white.png") no-repeat;
                width: 80%;
                line-height: 27px;
                background-position: 50% 0px;
                background-size: 4px 8px;
                margin-top: 0px;

                display: block;
                content: "New";
                font-family: $graphicBlack;
                font-size: 8px;
                text-transform: uppercase;
                color: $eurekaWhite;
                @include smooth-text();
                @include rotate(-45);
            }
            .field-content, .commerce-product-field, .commerce-product-field-field-new-product {
                display: none;
            }
        }

        .offer {
            background: url("../img/icon-global-corner-tag-lime.png") no-repeat;
            background-size: contain;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            &:after {
                background: url("../img/icon-global-exclamation-mark-black.png") no-repeat;
                width: 88%;
                line-height: 30px;
                background-position: 50% 0px;
                background-size: 4px 8px;
                margin-top: 6px;

                display: block;
                content: attr(data-after);
                font-family: $graphicBlack;
                font-size: 10px;
                text-transform: uppercase;
                color: $eurekaBlack;
                @include smooth-text();
                @include rotate(-45);
            }
            .field-content {
                display: none;
            }
        }

        .add-cart-btn {
            position: relative;
            top: 0px;
            opacity: 1;
            margin: 0 auto;
            margin-bottom: 12px;
            left: 0;
            right: 0;
            .button{
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .colors {
            width: 100%;
            height: 8px;
            position: relative;
            display: inline-block;
            margin-bottom: 14px;
            /*border: 1px solid purple;*/
            form {
                display: block;
                label {
                    display: none;
                }
                .attribute-widgets {
                    .form-item {
                        width: 100%;
                        margin: 0;
                        text-align: center;
                        .form-radios {
                            display: inline-block;
                            .form-item {
                                height: 8px;
                                width: 53px;
                                margin-top: 0;
                                margin-bottom: 0;
                                margin-right: 3px;
                                float: left;
                                &:last-child {
                                    margin-right: 0;
                                }
                                .description {
                                    div {
                                        width: 100%;
                                        height: 8px;
                                        border: none;
                                    }
                                    .description-selected {
                                        outline: 2px solid $eurekaPrimaryGreen;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .compare-check-box {
            position: relative;
            margin-bottom: 10px;
            display: none;
            form {
                .form-item {
                    margin: 0;
                    .check-box {
                        display: inline-block;
                    }
                    label {
                        margin-bottom: 0;
                        span {
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        .compare-now-link {
            width: 160px;
            margin: 0 auto 10px;
            position: relative;
            visibility: hidden;
            .button.secondary {
                display: block;
                border: none;
                font-size: 14px;
                padding: 0;
                max-width: 100%;
                width: auto;
                margin: 0;
                &:before {
                    border: none;
                }
            }
        }

        .choose-another {
            display: none;
            p {
                font-family: $graphicRegular;
                font-size: 12px;
                color: $eurekaBlack;
                margin-bottom: 8px;
            }
        }

        .ajax-progress {
            display: none;
            .message {
                display: none;
            }
        }

    }/*End Mobile*/

    @include media(md) {

        > div {
            padding-left: 20px;
            padding-right: 20px;
            transition: all 300ms ease-in;
            .image-thumb {
                height: $image-thumb-height-md;
                img{
                    max-height: $image-thumb-height-md;
                }
            }
            .rating-stars {
                opacity: 0;
                top: -5px;
            }
            .colors {
                opacity: 0;
                top: -5px;
                @include scale(0.6);
            }
            .add-cart-btn {
                opacity: 0;
                top: 5px;
            }
            .compare-check-box {
                opacity: 0;
                top: 15px;
            }
            .compare-now-link {
                opacity: 0;
                top: 5px;
            }
            &:hover {
                @include box-shadow(0px, 0px, 15px, rgba(0, 0, 0, 0.2));
                .rating-stars {
                    top: 0;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
                /*check why this affecting upper/left corner tag new/offer*/
                .colors {
                    top: 0;
                    opacity: 1;
                    transition: all 300ms ease-in;
                    @include scale(1);
                }
                .add-cart-btn {
                    top: 0;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
                .compare-check-box {
                    top: 0;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
                .compare-now-link {
                    top: 0;
                    opacity: 1;
                    transition: all 300ms ease-in;
                }
            }
        }

        &.product-tile-selected {
            /*border: 1px solid red;*/
            >div {
                .rating-stars, .colors, .add-cart-btn, .compare-check-box, .compare-now-link {
                    top: 0;
                    opacity: 1;
                }
                .colors {
                    @include scale(1);
                }
                .compare-check-box label{
                    font-family: $graphicSemiBold;
                }

            }
        }
    }/*End MD*/

    @include media(sm) {

        > div {
            padding-top: 58px;
            padding-left: 15px;
            padding-right: 15px;
            .image-thumb {
                height: $image-thumb-height-sm;
                img{
                    max-height: $image-thumb-height-sm;
                }
            }
            .label-header {
                font-size: 14px;
                width: 100%;
            }
            .title {
                font-size: 14px;
                width: 100%;
            }
            .price {
                font-size: 14px;
            }
            .date {
                width: 69px;
                height: 69px;
                left: 0;
                &:after {
                    line-height: 49px;
                    background-position: 50% 0px;
                    background-size: 6px 16px;
                    margin-top: 4px;
                    font-size: 15px;
                }
            }
            .offer {
                width: 80px;
                height: 80px;
                left: 0;
                &:after {
                    line-height: 55px;
                    background-position: 50% 0px;
                    background-size: 6px 16px;
                    margin-top: 5px;
                    font-size: 15px;
                }
            }
            .rating-stars {
                margin-bottom: 16px;
            }
            .add-cart-btn {
                margin-bottom: 24px;
            }
        }
    }/*End SM*/
}/*End Product Tile Class*/
