.sitemap{
    h1{
        width: 200px;
    }
    .col{
        padding: 0;
    }
    &__item{
        padding: 0;
        margin-bottom: 40px;
        &-description{
            color: #4C4C4A;
            font-size: 14px;
            font-family: $graphicRegular;
        }
    }

    &__section{
        margin-bottom: 60px;
        border-bottom: 1px solid #EEEDEF;
    }

    @include media(sm){
        &__item{
            min-height: 235px;
        }
    }

    @include media(md){
        &__item{
            min-height: 265px;
        }
    }
    .field-collection-container{
        border: none;
    }
}

